.cont_lbl_msj_ep{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.btn_upload_fx_perfil{
  width: 100%;
  padding-bottom: 5px;
}

.secc_editar_datos{
  position: relative;
  width: 100%;
  height: auto;
  top: 100px;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .cont_int_editar{
    position: relative;
    width: 70%;
    height: auto;
  }

  .titulo-seccion {
    position: relative;
    font-family: hanson-bold;
    font-size: 46px;
    color: #FF5C1A;
    line-height: 0.8;
  }

  .cont_imagen_editar_perfil{
    position: relative;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

.msj-oculto-imagen-editar-perfil{
    position: relative;
    width: auto;
    font-size: 9px;
    color: #838383;
    font-family: g-book;
    transition: 0.5s;
    position: relative;
    text-align: left;
    letter-spacing: 4px;
    padding-left: 10px;
    opacity: 0;
    bottom: 5px;
}

.banner-perfil-editor {
    width: 100%;
    height: 25vh;
    min-height: 135px;
    position: relative;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 15px;
    background-color: #838383 !important;
}

.ico-duda-editar-perfil{
  margin-left: 20px;
}

.padding-20{
  padding-left: 25%;
}

.cont_input_banner{
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-inputs-datos{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 80%;
  height: auto;
  padding: 100px 0;
  left: 10%;
}

.cont-interno-botones-editar-perfil {
    position: relative;
    width: 100%;
    height: 100%;
    border-top: solid 2px #FF5C1A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ico-btn{
  cursor: pointer;
  margin-left: 10px;
}

.linea_gris{
  position: relative;
  margin: 100px 0;
  width: 100%;
  height: 2px;
  background-color: #D8D8D8;
}

.cont_ico{
  position: relative;
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 2px #FF5C1A;
}

  .ico_red{
    width: 25px;
  }

.comentario-label{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.msj-oculto-input-canvas {
    position: relative;
    width: 50%;
    font-size: 9px;
    color: #838383;
    font-family: g-book;
    transition: 0.5s;
    text-align: left;
    letter-spacing: 4px;
    padding-left: 10px;
    top: 0;
}

.cont_nota_input{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

  .nota_input{
    font-size: 11px;
    color: #838383;
    font-family: g-book;
    /* letter-spacing: 2px; */
    padding-right: 20px;
  }

  .mostrar_pass_editar {
    position: absolute;
    right: 20px;
    top: 40%;
    margin: auto;
    width: 25px;
    cursor: pointer;
  }

  .fx_btnes_editar{
    width: 240px;
    height: 45px;
    letter-spacing: 4px;
  }

  .pad_fx{
    padding-right: 25%
  }


@media only screen and (max-width: 1400px) {

  .secc_editar_datos{
    position: relative;
    width: 100%;
    height: auto;
    top: 50px;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }


}

@media only screen and (max-width: 850px) and (min-width: 0px) {

  .cont_lbl_msj_ep{
    width: 65%;
  }

  .btn_upload_fx_perfil {
    width: 100% !important;
  }

  .secc_editar_datos{
    position: relative;
    width: 100%;
    height: auto;
    top: unset;
    padding: 90px 20px 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .cont_int_editar{
      width: 100%;
    }


      .cont_imagen_editar_perfil{
        flex-flow: row wrap;
        justify-content: space-around;
        min-height: 180px;
        padding: 10px 0;
      }

        .imagen-perfil-editar{
          width: 80px;
          height: 80px;
          margin: 0;
        }

        .btn_upload{
          width: 65%;
          font-size: 1.8ch;
        }

        .img_help_mov_editar_perfil {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;
            min-width: 200px;
        }

        .pos_fx_10{
          left: unset;
        }

        .wt_85_fx{
          width: 85%;
        }

          .cont-inputs-datos{
            left: unset;
            width: 100%;
            padding: 0;
          }

            .comentar{
              margin: 20px 0;
            }

              .cont_nombre_usuario{
                flex-wrap: wrap;
                padding: 0;
              }

                .input_interno{
                  width: 100%;
                  margin: 8px 0;
                }


            .cont_ubicacion{
              flex-wrap: wrap;
              width: 100%;
            }

            .sel{
              margin: 5px 0;
              width: 100%;
            }

              .comentario-label{
                justify-content: center;
                text-align: center;
                padding: 0;
              }

              .textarea-comentario{
                min-height: 150px;
              }

              .pad_fx{
                padding-right: 8%
              }

                .mar_sex_fx{
                  margin: 0 7px;
                }

                .mar_sex_fx [type="radio"]:not(:checked) + .sexo, [type="radio"]:checked + .sexo {
                  padding-left: 25px;
                }

                .input-comentario-pass{
                  padding-right: 40px!important;
                  box-sizing: border-box!important;
                }

      .linea_gris{
        margin: 20px 0;
      }

    .titulo-seccion {
      font-size: 4ch;
    }

    .cont-interno-botones-editar-perfil{
      margin-top: 30px;
      padding-top: 30px;
    }

      .fx_btnes_editar{
        width: 40%;;
      }

  .modal_estilo{
    width: 90%!important;
  }



}
